/* Marcellus SC */
@import url('https://fonts.googleapis.com/css2?family=Marcellus+SC&display=swap');

/* Prompt */
@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  padding: 0;
  background-image: url('images/pfc_bg.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.profilecard{
  height: clamp(260px, 50vh, 420px);
  width: clamp(500px, 60vw, 700px);
  background-color: rgb(6, 6, 6);
  background: rgba(  35, 35, 35, 0.3  );
  box-shadow: 0 8px 32px 0 rgba(9, 4, 4, 0.37);
  backdrop-filter: blur( 8.5px );
  border-radius: 20px;
  border: 1px solid rgba(75, 74, 74, 0.476);
  padding-left: clamp(5px,50vh, 30px);

}

.pf-title{
  font-family: "Marcellus SC";
  font-size: 40px;
  color: rgb(196, 193, 193);
  margin-bottom: 0;
}
.pf-des{
  font-family: "Prompt", sans-serif;
  font-size: 20px;
  color: rgb(196, 193, 193);
  margin-top: 0;
}